@import "../../styles/base/index";

.s-ourAdvantages {
  .container {
    @include flex(row, center, space-between);
    padding-block: 120px;
    .title {
      max-width: 242px;
      width: 100%;

      h2 {
        color: $color-black;
        font-family: "Gilroy-Bold";
        font-size: 42px;
        font-weight: 400;
      }
    }

    .advantages {
      max-width: 908px;
      width: 100%;
      @include flex(row, center, space-between);
    }
  }
}
